<h1>Chat</h1>
<div>
	<input type="text" placeholder="PeerID" id="peer-id-input">
	<button id="connect">Connect</button>
	<button id="close">Close</button>
</div>
<div>
	<p>MyID: <span id="my-id">-</span></p>
	<p>PeerID: <span id="peer-id">-</span></p>
</div>
<hr>
<div>
	<input type="text" placeholder="Chat Message" id="message">
	<button id="send">Send</button>
</div>
<div id="messages"></div>
